<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Links</title>
</head>
<body>
    <ul>
        <li><a href="{{ channels }}">Channels</a></li>
        <li><a href="{{ client_settings }}">Client Settings</a></li>
        <li><a href="{{ bot }}">Bot</a></li>
        <li><a href="{{ channel_type }}">Channel Type</a></li>
        <li><a href="{{ keyword_channel_ads }}">Keyword Channel Ads</a></li>
    </ul>
</body>
</html>
